body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img.cover-small {
    width: 64px;
    height: 64px;
    background-color: #eee;
}

table.table td {
    vertical-align: middle;
}

.table > :not(:first-child) {
    border-top: none;
}

th.cover-small,
td.cover-small {
    width: 81px;
}
